Repository MatthieuLeNozach/nbm-demo-fork: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_base_image_frontend, build_base_image_backend_celery

.gitlab-ci.yml:

stages:
  - build-base-images
  - test
  - build
  - deploy

build_base_image_frontend:
  stage: build-base-images
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:frontend-dev-base -f ./web/frontend/.docker/base.dockerfile ./web/frontend
    - docker push ${CI_REGISTRY_IMAGE}:frontend-dev-base
  tags:
    - nbm
  only:
    refs:
      - branches
    changes:
      - web/frontend/**/*

build_base_image_backend_celery:
  stage: build-base-images
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-base -f ./web/backend/.docker/backend-base.dockerfile ./web/backend
    - docker build -t ${CI_REGISTRY_IMAGE}:celeryworker-base -f ./web/backend/.docker/celeryworker-base.dockerfile ./web/backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-base
    - docker push ${CI_REGISTRY_IMAGE}:celeryworker-base
  tags:
    - nbm
  only:
    refs:
      - branches
    changes:
      - web/backend/**/*

test_backend:
  stage: test
  script:
    - cp web/.env.example web/.env
    - cp web/frontend/.env.example web/frontend/.env
    - cd web && ./scripts/test.sh
  tags:
    - nbm

build_backend:
  stage: build
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build -t ${CI_REGISTRY_IMAGE}:backend-${TAG} -f ./web/backend/backend.dockerfile ./web/backend
    - docker build -t ${CI_REGISTRY_IMAGE}:celeryworker-${TAG} -f ./web/backend/celeryworker.dockerfile ./web/backend
    - docker push ${CI_REGISTRY_IMAGE}:backend-${TAG}
    - docker push ${CI_REGISTRY_IMAGE}:celeryworker-${TAG}
  tags:
    - nbm
  only:
    - master

build_frontend:
  stage: build
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - docker build --build-arg api_url=${API_URL} -t ${CI_REGISTRY_IMAGE}:frontend-${TAG} -f ./web/frontend/Dockerfile ./web/frontend
    - docker push ${CI_REGISTRY_IMAGE}:frontend-${TAG}
  tags:
    - nbm
  only:
    - master

deploy:
  stage: deploy
  variables:
    DOCKER_IMAGE_BACKEND: ${CI_REGISTRY_IMAGE}
    DOCKER_IMAGE_CELERYWORKER: ${CI_REGISTRY_IMAGE}
    DOCKER_IMAGE_FRONTEND: ${CI_REGISTRY_IMAGE}
  script:
    - docker login ${CI_REGISTRY} -u gitlab-ci-token -p ${CI_BUILD_TOKEN}
    - echo "$ENV_FILE" > ./web/.env
    - cd web && ./scripts/deploy.sh
  tags:
    - nbm
  only:
    - master

Resolve ""Forgot Password" page is not working"
  web/.env.example
  web/backend/app/app/core/config.py
  web/backend/app/app/utils/email.py
  web/backend/app/app/utils/token.py
  web/frontend/components/Providers/AuthProvider.tsx
  web/frontend/pages/register.tsx
  web/frontend/pages/reset-password.tsx
  web/frontend/pages/signin.tsx
  web/frontend/public/locales/en/common.json
  web/frontend/public/locales/es/common.json
  web/frontend/public/locales/fr/common.json
Due: build_base_image_frontend, build_base_image_backend_celery

Update BIRDERS_CONTRIBUTING.md
  BIRDERS_CONTRIBUTING.md
Due: none

Resolve "Assist user in their UX by adding informations"
  docs/Audiofile_annotation_methods_NBM.pdf
  web/frontend/components/Form/MediaUploadForm.tsx
  web/frontend/pages/home.tsx
  web/frontend/pages/welcome.tsx
  web/frontend/public/locales/en/common.json
  web/frontend/public/locales/es/common.json
  web/frontend/public/locales/fr/common.json
Due: build_base_image_frontend

Version 1.1.1
  docs/Audiofile_annotation_methods_NBM.pdf
  web/.env.example
  web/backend/app/app/core/config.py
  web/backend/app/app/utils/email.py
  web/backend/app/app/utils/token.py
  web/frontend/components/Form/MediaUploadForm.tsx
  web/frontend/components/Providers/AuthProvider.tsx
  web/frontend/pages/home.tsx
  web/frontend/pages/register.tsx
  web/frontend/pages/reset-password.tsx
  web/frontend/pages/signin.tsx
  web/frontend/pages/welcome.tsx
  web/frontend/public/locales/en/common.json
  web/frontend/public/locales/es/common.json
  web/frontend/public/locales/fr/common.json
Due: build_base_image_frontend, build_base_image_backend_celery

fix species bug for standarlabels
  web/backend/app/app/crud/crud_species.py
  web/backend/app/app/crud/crud_standardlabel.py
  web/backend/app/app/db/init_db.py
Due: build_base_image_backend_celery

Release 1.1.2
  web/backend/app/app/crud/crud_species.py
  web/backend/app/app/crud/crud_standardlabel.py
  web/backend/app/app/db/init_db.py
Due: build_base_image_backend_celery

fix(don't allow mp3 upload frontend)
  web/frontend/components/Form/MediaUploadForm.tsx
Due: build_base_image_frontend

Version 1.1.3 - Fix MP3 Upload
  web/frontend/components/Form/MediaUploadForm.tsx
Due: build_base_image_frontend

Nextcloud configuration
  docs/nextcloud_configuration.md
Due: none

Update nextcloud_configuration.md
  docs/nextcloud_configuration.md
Due: none

development_with_custom_IP new file in docs
  docs/development_with_custom_IP.md
Due: none

development_localhost_with_custom_domain.md new file
  docs/development_localhost_with_custom_domain.md
Due: none

Development with docker toolbox new file
  docs/development_with_docker_toolbox.md
Due: none

Update README.md (remove specific documentations and put them in docs/files.md)
  web/README.md
Due: none

Add new file about project generation and cookiecutter
  web/docs/project_generation_cookiecutter.md
Due: none

Update README.md - Move cookie cutter documentation
  web/README.md
Due: none

move documentation to web/docs
  web/docs/development_localhost_with_custom_domain.md
  web/docs/development_with_custom_IP.md
  web/docs/development_with_docker_toolbox.md
  web/docs/install_gitlab_ci.md
  web/docs/nextcloud_configuration.md
Due: none

Update development_localhost_with_custom_domain.md - URLs
  web/docs/development_localhost_with_custom_domain.md
Due: none

Update README.md - move custom domain in localhost URLs
  web/README.md
Due: none

Update development_with_custom_IP.md - Adding URLs
  web/docs/development_with_custom_IP.md
Due: none

Update README.md - Move URL of development_with_custom_IP
  web/README.md
Due: none

Update development_with_docker_toolbox.md - Adding URLs
  web/docs/development_with_docker_toolbox.md
Due: none

Update README.md - Move docker toolbox URLs
  web/README.md
Due: none

Update README.md - Remove development URLs that were present twice
  web/README.md
Due: none

Update species.json - Add Alytes obstetricans
  web/backend/app/app/db/initial_data/species.json
Due: build_base_image_backend_celery

Added md link to initial_data folder
  BIRDERS_CONTRIBUTING.md
Due: none

Added doc v1 for kaggle
  docs/use_ia_on_kaggle/000_kaggle_login.png
  docs/use_ia_on_kaggle/002_create_new_dataset_button.png
  docs/use_ia_on_kaggle/003_upload_dataset.png
  docs/use_ia_on_kaggle/004_create_new_notebook.png
  docs/use_ia_on_kaggle/005_run_first_part_code_and_activate_gpu.png
  docs/use_ia_on_kaggle/006_run_modele.png
  docs/use_ia_on_kaggle/007_get_output_results.png
  docs/use_ia_on_kaggle/how_to_use_nbm_ai_on_Kaggle.md
Due: none

Corrected image paths
  docs/use_ia_on_kaggle/how_to_use_nbm_ai_on_Kaggle.md
Due: none

Added audacity export
  docs/use_ia_on_kaggle/how_to_use_nbm_ai_on_Kaggle.md
Due: none

Corrected path absolute to relative
  docs/use_ia_on_kaggle/how_to_use_nbm_ai_on_Kaggle.md
Due: none

Updated path
  docs/use_ia_on_kaggle/how_to_use_nbm_ai_on_Kaggle.md
Due: none

Added numbers
  docs/use_ia_on_kaggle/002_create_new_dataset_button.png
  docs/use_ia_on_kaggle/003_upload_dataset.png
  docs/use_ia_on_kaggle/004_create_new_notebook.png
  docs/use_ia_on_kaggle/005_run_first_part_code_and_activate_gpu.png
  docs/use_ia_on_kaggle/00612_upload_sound.png
  docs/use_ia_on_kaggle/0061_upload_sound.png
  docs/use_ia_on_kaggle/007_get_output_labels_audacity.png
  docs/use_ia_on_kaggle/how_to_use_nbm_ai_on_Kaggle.md
Due: none

Resolve "Page 7 - Frontend - Species page"
  web/README.md
  web/backend/app/app/api/api_v1/api.py
  web/backend/app/app/api/api_v1/endpoints/species.py
  web/backend/app/app/api/api_v1/endpoints/statistics.py
  web/backend/app/app/crud/__init__.py
  web/backend/app/app/crud/crud_species.py
  web/backend/app/app/crud/crud_statistics.py
  web/backend/app/app/schemas/__init__.py
  web/backend/app/app/schemas/species.py
  web/backend/app/app/schemas/statistics.py
  web/backend/app/app/tests/api/api_v1/test_statistics.py
  web/backend/app/app/tests/utils/medialabel.py
  web/backend/app/app/tests/utils/standardlabel.py
  web/docker-compose.override.yml
  web/frontend/components/Dashboard/Item.tsx
  web/frontend/components/Dashboard/index.tsx
  web/frontend/components/Providers/AuthProvider.tsx
  web/frontend/components/Statistics/Species/Header.tsx
  web/frontend/components/Statistics/Species/Item.tsx
  web/frontend/components/Statistics/Species/List.tsx
  web/frontend/components/layout/base.tsx
  web/frontend/i18n.ts
  web/frontend/models/statistics.ts
  web/frontend/pages/statistics/species.tsx
  web/frontend/pages/welcome.tsx
  web/frontend/public/locales/en/common.json
  web/frontend/public/locales/es/common.json
  web/frontend/public/locales/fr/common.json
Due: build_base_image_frontend, build_base_image_backend_celery

Statistics sort by total
  web/backend/app/app/crud/crud_statistics.py
  web/backend/app/app/tests/api/api_v1/test_statistics.py
Due: build_base_image_backend_celery

change name
  docs/use_ia_on_kaggle/FR_Utiliser_IA_NBM_avec_Kaggle.md
Due: none
